<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta name="version" content=<%=htmlWebpackPlugin.options.version %>>
    <meta name="player-id" content="">
    <meta name="service-version" content="">
    <meta name="env" content="<%=htmlWebpackPlugin.options.build %>">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <title>Tank</title>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            margin: 0px;
            padding: 0px;
            background: #000;
            overflow: hidden;
        }

        #game-container {
            margin: 0 auto;
        }

        #landscape_tip {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: black;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            display: none;
            z-index: 999;
        }

        #fullscreen {
            display: none;
            z-index: 100;
            position: relative;
            overflow: scroll;
            margin: 0 auto;
            width: 100%;
            background-color: #000;
            background-size: 45%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center top;
        }

        input[type="button"] {
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div id="landscape_tip"></div>
    <div id="modal" class="hide">
        <div class="modal-content">

        </div>
    </div>
    <div id="fullscreen"></div>
    <div id="main"></div>
    <script>
        window.stripTableFileName = "<%= htmlWebpackPlugin.options.stripTableFileName %>";
    </script>
</body>

</html>